{% extends 'activity/base.html' %}
{% block content %}
  <h2>Edit Log</h2>
  <form method="post">
    {% csrf_token %}

    <div style="margin-bottom: 1rem;">
      <label for="id_category">Category</label>
      {{ log_form.category }}
      <a href="{% url 'manage_categories' %}" class="btn btn-outline-secondary btn-sm" style="margin-left: 10px;">Manage Categories</a>
    </div>
    

    <div style="margin-bottom: 1rem;">
      <label for="id_description">Description</label>
      {{ log_form.description }}
    </div>

    <div>
        <label for="id_date">Date</label>
        {{ log_form.date }}
    </div>

    <div style="margin-bottom: 1rem;">
      <label for="id_start_time">Start Time</label>
      {{ log_form.start_time }} {{ log_form.start_meridiem }}
    </div>

    <div style="margin-bottom: 1rem;">
      <label for="id_end_time">End Time</label>
      {{ log_form.end_time }} {{ log_form.end_meridiem }}
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}